<h1 class="article-heading"><perch:content id="contact_section_title" type="text" label="Contact Form Title" size="m" /> </h1>


<div class="contact-form">

<perch:form class="main-contact-form" name="contactform" id="contact" method="post" app="perch_forms">

<h3 class="contact-sub-title"><perch:content id="contact_form_subtitle" type="text" label="Contact Form Subtitle" size="l" /></h3>

<div class="form-left">
        <perch:label class="label" for="form_name">Name</perch:label><perch:input type="text" name="name" id="form_name" class="form_input_box" required="true" />
        <perch:error for="form_name" type="required">Please add your name</perch:error>

        <perch:label class="label" for="form_number">Phone number</perch:label><perch:input type="tel" name="tel" id="form_number" class="form_input_box" required="true" />
        <perch:error for="form_number" type="required" class="form_error_message">Please add your phone number</perch:error>
        <perch:error for="form_number" type="format" class="form_error_message">Please check your phone number</perch:error>

        <perch:label class="label" for="form_email">Email</perch:label><perch:input type="email" name="email" id="form_email" class="form_input_box" required="true" />
        <perch:error for="form_email" type="required" class="form_error_message">Please add your email address</perch:error>
        <perch:error for="form_email" type="format" class="form_error_message">Please check your email address</perch:error>

        <perch:label class="label" for="form_budget">Roughly what budget do you have in mind?</perch:label>
        <perch:input type="select" name="form_budget" id="form_budget" options="£500 to £1000|£500 to £1000,£1000 to £2500|£1000 to £2500,£2500 to £5000|£2500 to £5000,£5000 to £10 000|£5000 to £10000,£10 000+|£10000+, Undecided|Undecided">

      </div>

<div class="form-right">
        <perch:label class="label" for="form_request">Leave a message</perch:label><perch:input type="textarea" class="textarea" name="form_request" id="form_request" required="true" cols="50" rows="9" placeholder="Request a quote or ask a question" />
      </div>
      <div class="checkbox-div">
        <perch:input class="consent-checkbox" id="consentCheck" type="checkbox" label="Consent Checkbox" value="Yes"  required="true">
        <perch:label class="consent-check-label" for="consentCheck">By checking this box you accept the <a class="consent-check-link" target="_blank" title="Opens in new window" href="/privacy">Pixelsmiths Privacy and Cookie Policy.</a> </perch:label>
    </div>
<perch:input type="submit" id="form_submit" class="main-contact-form-button" value="Send form" />
<perch:success>
<h3 class="success">
  <perch:content id="success"  type="textarea" label="Thank you message" html="true" editor="redactor" />
</h3>
</perch:success>
</perch:form>
</div>
